@font-face {
    font-family: Nasa;
    src:local("./nasalization-rg.ttf");
}
html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;

    justify-content: center;

    align-items: center;
    font-family: Nasa;
}

#canvas{
    display: block;

}



#compare {
    width: 250px;
    height: 100px;
    color: white;
    background-color: rgb(45, 45, 45);
    position: absolute;
    z-index: 1;
}