

html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;

    justify-content: center;

    align-items: center;
    font-family: 'Orbitron';
}

#canvas{
    display: block;

}

#startButton{
    width:20%;
    height:12%;
    background-color: aliceblue;
    color: black;

    font-size: 150%;
    font-weight: 600;




}

#compare {
    width: 250px;
    height: 100px;
    color: white;
    background-color: rgb(45, 45, 45);
    position: absolute;
    z-index: 1;
}

